
.coinMetric {
  height: 145px;
  margin-bottom: 10px;
}

.mobileLoader {
  display: none;
}

@media screen and (width<= 515px) {
  .coinMetric {
    display: none;
  }

  .mobileLoader {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .oneCoinLoader {
    height: 582px;
  }

  .diagram {
    display: none;
  }
}

@media screen and (width<= 480px) {
  .tableRow td:first-child,
  .tableRow td:nth-child(3) {
    display: none;
  }
}