.coinMetric {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;

  background-color: var(--color-background-black);
  border-radius: 12px;
}
