.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  padding: 20px;

  .tableRow {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: transparent;
    }
  }

  .coinInfo {
    display: flex;
    flex-direction: column;
  }
}
