.coinInfo {
  display: flex;
  gap: 20px;
}

.iconSvgName {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.coinMetrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.logo {
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--color-button-main);
  border-radius: 50%;
}

@media screen and (width<= 515px) {
  .coinInfo {
    display: block;
  }

  .iconSvgName {
    justify-content: center;
    margin-bottom: 10px;
  }

  .name {
    flex-direction: row;
  }
}