.tableRow:nth-child(odd) {
    background-color: var(--color-background-panel);
}

.tableRow:last-child {
  border-bottom: 1px solid rgb(36 45 57 / 60%);
}

.button {
  all: unset;

  cursor: pointer;

  padding: 6px 12px;

  background: var(--color-button-main);
  border-radius: 10px;

  &:hover {
    background: var(--color-button-gray);
  }
}

.logo {
  margin-top: 8px;
  background-color: var(--color-button-main);
  border-radius: 50%;
}

@media (width <= 480px) {
  .cellLogo {
    display: none;
  }
}
