:root {
  // button
  --color-button-gray: #1c242e;
  --color-button-main: #0caf60;
  --color-button-orange: #fb774a;
  --color-button-red: #ef5350;

  // background
  --color-background-dark: #161d26;
  --color-background-panel: #12181f;
  --color-background-black: #0b0e13;

  // textColor
  --color-text-white: #fff;
  --color-text-primary: #c2c2c2;
  --color-text-second: #a4a8ab;
  --color-text-green: #2ecf95;
  --color-text-red: #ff5449;
  --color-text-orange: #fb774a;
}
