:root {
  --font-family-primary: 'Poppins', sans-serif;

  // font sizes
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.5rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}
