.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    padding: 13px 20px;

    border-radius: 20px;

    &.currentPage {
      padding: 11px 20px 15px;
    }
  }
}
@media screen and (width<= 600px) {
  .pagination{
    .button{
      width: 20px;
      padding: 8px 10px 8px;
      border-radius: 20px;
      &.currentPage {
        padding: 8px 10px 8px;
      }
    }
  }
}