.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  height: 80px;

  background-color: var(--color-background-black);

  .headerLogo {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    margin-left: 20px;

    color: var(--color-button-main);
    text-decoration: none;
  }

  .headerCoins {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-right: 40px;
    margin-left: 40px;

    color: var(--color-text-green);

    .coinLink {
      text-decoration: none;

      .coin {
        display: flex;
        gap: 10px;
        align-items: center;

        &:hover {
          color: var(--color-button-red);
        }
      }
    }
  }

  .headerModal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding: 20px 0;
  }

  .headerWallet {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    max-width: 380px;
    height: 70%;
    margin-right: 20px;
    padding: 15px;

    text-align: center;

    border: 1px solid var(--color-button-main);
    border-radius: 15px;

    span {
      white-space: nowrap;
    }
  }
}

@media screen and (width<= 770px) {
  .headerCoins {
    a:last-child {
      display: none;
    }

    .coinLoader:last-child {
      display: none;
    }
  }
}

@media screen and (width<= 645px) {
  .headerCoins {
    a:not(:first-child) {
      display: none;
    }

    .coinLoader:not(:first-child) {
      display: none;
    }
  }
}

@media screen and (width<= 480px) {
  .headerCoins {
    a {
      display: none;
    }

    .coinLoader {
      display: none;
    }
  }
}
