$background-color: #0caf60;

.root {
  border-collapse: collapse;
  max-width: 100%;

  tbody tr:hover {
    cursor: pointer;
    background: rgba($background-color, 0.2);
  }
}

.head {
  border-bottom: 1px solid rgb(36 45 57 / 60%);
}

.headCell {
  padding: 6px 24px;
  text-align: center;
}

.empty {
  display: grid;
  place-items: center;
  padding: 60px 0;
}

.cell {
  padding: 6px 24px;
  text-align: center;
}


@media (width >= 601px) and (width <= 1200px) {
  .headCell {
    padding: 8px 18px;
    text-align: center;
  }

  .cell {
    padding: 8px 18px;
  }
}

@media (width <= 600px) {
  .headCell {
    padding: 4px;
  }

  .cell {
    padding: 4px 6px;
  }
}



