.wrapper {
  display: flex;
  align-items: center;
  width: auto;

  div {
    flex-direction: row;
  }
}

.input {
  width: auto;
  min-width: 60px;
  margin: 0 20px;
  appearance: textfield;

  label {
    position: absolute;
    top: -12px;
    left: -28px;
    width: max-content;
  }

  input {
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}
